@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  letter-spacing: -1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles.css */
.layout-container {
  position: relative;
  min-height: 100vh; /* Full viewport height */
  padding-top: 64px; /* Adjust based on nav bar height */
  padding-bottom: 74px; /* Adjust based on footer height */
}

.background-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1; /* Ensures the background is behind the content */
}

.content-component {
  position: relative; /* Ensures content is placed above the background */
  z-index: 1; /* Optional: Explicitly setting a higher z-index for clarity */
  display: flex;
  flex-direction: column;
  /* Additional styling for your content */
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 10; /* Ensure it's above other content */
  /* Additional styling for nav bar */
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust as needed */
  z-index: 10; /* Ensure it's above other content */
  /* Additional styling for footer */
}

@media (min-width: 640px) {
  .scroller__inner {
    padding-block: 0rem;
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
  }

  .scroller[data-animated='true'] {
    overflow: hidden;
    /* display: flex; */
    position: relative;
    /* justify-content: space-between; */
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white);
  }

  /* .scroller[data-animated='true'] .scroller__inner {
    flex-wrap: nowrap;
    animation-timeline: view();
    opacity: 1;
    animation: scrolling 15s linear infinite both;
  } */
  .scroller[data-animated='true'] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    overflow: hidden;
    display: flex;
    scale: 0.5;
    /* position: absolute; */
    animation-timeline: view();
    animation: scrolling linear both;
    animation-range-start: entry;
    animation-range-end: exit;
  }

  /* .scroller[data-animated='true'] .scroller__inner:hover {
    animation-play-state: paused;
  } */

  /* .scroller[data-direction='right'] .scroller__inner {
    animation-direction: reverse;
  } */

  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }

    /* 100% {
      opacity: 1;
      scale: 1;
      transform: translateX(0%);
    } */
  }
}

.features {
  position: flex;
  overflow: hidden;
  /* width: max-content; */

  animation: flyLeft linear both;
  /* flex-wrap: nowrap; */
  animation-timeline: view();
  animation-range: entry 50px;
}

.features[data-direction='right'] {
  position: flex;
  overflow: hidden;

  /* width: max-content; */
  animation: flyRight linear both;
  animation-timeline: view();
  animation-range: entry 50px;
}

@keyframes flyLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes flyRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
  width: 100%;
  transform-origin: left;
  scale: 0.1 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll(block);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
@media (min-width: 640px) {
  .hero {
    opacity: 0;
    scale: 0;
    height: 1500px;
    animation: fade-in linear backwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: exit;
  }

  @keyframes fade-in {
    0% {
      scale: 0;
      opacity: 0;
    }
    50% {
      scale: 0.5;
      opacity: 1;
    }
    100% {
      scale: 1;
      opacity: 0;
    }
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  hero > h1 {
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
} */

@keyframes expandOutwards {
  0% {
    transform: scale(0.5); /* Start smaller */
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2); /* Finish larger */
    opacity: 0;
  }
}

.star {
  width: 2px;
  height: 2px;
  background-color: rgb(220, 221, 185);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: expandOutwards linear infinite;
}

@media (min-width: 640px) {
  /* sm */
  .hero {
    animation-range-end: contain;
    height: 1200px;
  }
}

@media (min-width: 768px) {
  /* md */
  .hero {
    animation-range-end: exit;
  }
  .scroller__inner {
    animation-duration: 20s; /* Faster animation on larger screens */
  }
}

@media (min-width: 1024px) {
  /* lg */
  .hero {
    animation-range-end: exit;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .hero {
    animation-range-end: exit;

    height: 1500px;
  }
}
/* Initial state of the section */
.section-enter {
  opacity: 0;
  transform: translateY(20%);
}

/* Final state of the section */
.section-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

Initial state of the title .title-enter {
  transform: translateY(-0%);
}

/* Final state of the title */
.title-enter-active {
  transform: translateY(0);
  transition: transform 0.3s;
}

/* Initial state of the component (Faq or Contact) */
.component-enter {
  transform: translateY(100%);
}

/* Final state of the component (Faq or Contact) */
.component-enter-active {
  transform: translateY(0);
  transition: transform 0.5s;
}
.title-fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.title-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.title-fade-exit {
  opacity: 1;
}

.title-fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
}
/* @keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */
